@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_RevisionCode
@{
    Layout = null;
}

<div class="modal-body form-horizontal">
    Are you sure you want to delete RevisionCode 
    <span style="font-weight:bold;">
        @Model.RevisionName
    </span>
    With Project Code
    <span style="font-weight:bold;">
        @Model.ProjectCode
    </span>
    ?
</div>
<input type="hidden" asp-for="Id" />