@model DPEnergy.DataModelLayer.ViewModels.DMS.BasicInformation.D_UserProjectViewModel
@using DPEnergy.CommonLayer.PublicClass
@using DPEnergy.DataModelLayer.Entities.Admin
@{
    ViewData["Title"] = "AddUserProject";
    List<D_Project> ListProject = ViewBag.projectlist;
    List<A_UserManager> ListUser = ViewBag.userlist;
}
<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Basic Information</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "UserProject") ">UserProject</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add UserProject</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            Add  Project For User
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#dae7f4;">
        <form asp-controller="UserProject" asp-action="AddUserProject" method="post" enctype="multipart/form-data">

            <div class="col-md-12 ">
                <!--Name-->
                <div>
                    <label asp-for="UserId" class="control-label col-md-1 col-xs-12"></label>
                    <div class="col-md-11 col-xs-12">
                        <select asp-for="UserId" asp-items="@(new SelectList(from x in ListUser select new { Value = x.Id ,Text = x.UserName + " - " + x.Personel}, "Value","Text"))" class="form-control selectpicker custominput" id="select-ProjectCode" data-live-search="true" style="direction: ltr">
                            <option value="" selected disabled hidden style="direction: ltr">Select User</option>
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                        <div>   </div>
                    </div>

                </div>
                <!--Project-->
                <div>
                    <label asp-for="ProjectId" class="control-label col-md-1 col-xs-12"></label>
                    <div class="col-md-11 col-xs-12">
                        <select asp-for="ProjectId" asp-items="@(new SelectList(from x in ListProject select new { Value = x.Id ,Text = x.ProjectCode + " - " + x.Title}, "Value","Text"))" class="form-control selectpicker custominput" id="select-ProjectCode" data-live-search="true" style="direction: ltr">
                            <option value="" selected disabled hidden style="direction: ltr">Select Project Code</option>
                        </select>
                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                        <div>   </div>
                    </div>

                </div>
                <!--Project Code -->
                <input asp-for="ProjectCode" type="hidden" class="form-control custominput" />
                <!--ProjectTitle -->
                <input asp-for="ProjectTitle" type="hidden" class="form-control custominput" />
                <!--UserNAme -->
                <input asp-for="UserName" type="hidden" class="form-control custominput" />
                <!--Creation Date -->
                <input asp-for="CreationDate" type="hidden" class="form-control custominput" />
                <!--Creator-->
                <input asp-for="Creator" type="hidden" class="form-control custominput" />

                <!--ModificationDate -->
                <input asp-for="ModificationDate" type="hidden" class="form-control custominput" />
                <!--Modifier-->
                <input asp-for="Modifier" type="hidden" class="form-control custominput" />

                <div class="col-xs-12 form-group" style="margin-top:15px;">
                    <input type="submit" style="border:1px solid gray; border-radius:3px;"
                           value="Submit" class="btn pull-right" />
                </div>

            </div>



        </form>
    </div>
</div>