@model DPEnergy.DataModelLayer.Entities.P_Personel
@{
    Layout = null;
}

    <div class="modal-body form-horizontal" dir="rtl">
        آیا از حذف پرسنل
        <span style="font-weight:bold;">@Model.FirstName @Model.LastName</span>
        با شماره پرسنلی
        <span style="font-weight:bold;">@Model.PersonelCode</span>
        مطمئن هستید؟
    </div>
<input type="hidden" asp-for="PersonelCode" />