@model DPEnergy.DataModelLayer.Entities.Personel.P_PersonelStatus
@{
    Layout = null;
}




<div class="modal-body form-horizontal" dir="rtl">
    آیا از حذف شغلی
    <span style="font-weight:bold;">@Model.PersonelStatus</span>
    مطمئن هستید؟
</div>
