
@model DPEnergy.DataModelLayer.ViewModels.Personel.P_BimeViewModel
@{
    ViewData["Title"] = "AddBime";
    List<P_Personel> ListPersonel = ViewBag.personellist;
}

<div class="content">
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="index"><i class="icon-home2 position-left"></i> صفحه اصلی</a></li>
        <li><a asp-controller="Bime" asp-action="index"><i class="icon-person position-left"></i> لیست اطلاعات بیمه</a></li>
        <li class="active">اضافه کردن اطلاعات بیمه</li>
    </ul>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon-heart"></i>
            فرم ثبت اطلاعات بیمه
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray;
                background-color:#e6e2e2;">

        <form asp-controller="Bime" asp-action="AddBime" method="post">
            <div class="col-md-8 col-md-offset-2">

                <div>
                    <!--PersonelCode-->
                    <label asp-for="PersonelCode" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <select asp-for="PersonelCode" asp-items="@(new SelectList(from x in ListPersonel select new { Value = x.PersonelCode ,Text = x.PersonelCode + " " + x.FirstName+ " " + x.LastName}, "Value","Text"))" class="form-control selectpicker custominput" id="personel-code" data-live-search="true" style="direction: ltr">
                            <option value="" selected disabled hidden style="direction: ltr">Select Personel</option>
                        </select>
                        <div>   </div>
                    </div>
                    <!--FirstName-->
                    <div>
                        <label asp-for="FirstName" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <input readonly asp-for="FirstName" type="text" class="form-control custominput" autocomplete="off" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <!--LastName-->
                    <div>
                        <label asp-for="LastName" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <input readonly asp-for="LastName" type="text" class="form-control custominput" autocomplete="off" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <!--VaziatBime-->
                    <div>
                        <label asp-for="VaziatBime" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <select asp-for="VaziatBime" class="form-control selectpicker custominput" id="select-ContractType" data-live-search="true" style="direction: rtl">
                                <option value="" selected disabled hidden style="direction: rtl">     وضعیت بیمه را انتخاب کنید</option>
                                <option data-tokens="بازنشسته">بازنشسته</option>
                                <option data-tokens="تامین اجتماعی">تامین اجتماعی</option>
                                <option data-tokens="بیمه جای دیگر">بیمه جای دیگر</option>
                                <option data-tokens="مجهول">مجهول</option>
                            </select>
                            <div>   </div>
                            <span asp-validation-for="VaziatBime" class="text-danger"></span>
                        </div>
                    </div>
                    <!--BimeNumber-->
                    <div>
                        <label asp-for="BimeNumber" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <input asp-for="BimeNumber" type="text" class="form-control custominput" autocomplete="off" />
                            <span asp-validation-for="BimeNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <!--SabegheTaminEjtemaei-->
                    <div>
                        <label asp-for="SabegheTaminEjtemaei" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <input asp-for="SabegheTaminEjtemaei" type="number" class="form-control custominput" autocomplete="off" />
                            <span asp-validation-for="SabegheTaminEjtemaei" class="text-danger"></span>
                        </div>
                    </div>
                    <!--TarikhSabtSabegheTamin-->
                    <div style="margin-bottom:15px;">
                        <label asp-for="TarikhSabtSabegheTamin" class="control-label col-md-3 col-xs-12" for="ExpirationDate"></label>
                        <div class="input-group col-md-9 col-xs-12" style="padding-left:9px; padding-right:9px;">
                            <div class="input-group-addon"
                                 style="border:1px solid gray; padding:6px">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            <input asp-for="TarikhSabtSabegheTamin" id="tarikhtamin" name="tarikhtamin" type="text" class="form-control custominput datetimepicker">

                        </div>
                        <span asp-validation-for="TarikhSabtSabegheTamin" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                    </div>
                    <!--SabegheKhodEzhari-->
                    <div>
                        <label asp-for="SabegheKhodEzhari" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <input asp-for="SabegheKhodEzhari" type="number" class="form-control custominput" autocomplete="off" />
                            <span asp-validation-for="SabegheKhodEzhari" class="text-danger"></span>
                        </div>
                    </div>

                    <!--TarikhSabtKhodEzhari-->
                    <div style="margin-bottom:15px;">
                        <label asp-for="TarikhSabtKhodEzhari" class="control-label col-md-3 col-xs-12" for="ExpirationDate"></label>
                        <div class="input-group col-md-9 col-xs-12" style="padding-left:9px; padding-right:9px;">
                            <div class="input-group-addon"
                                 style="border:1px solid gray; padding:6px">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            <input asp-for="TarikhSabtKhodEzhari" id="tarikhkhodezhari" name="tarikhkhodezhari" type="text" class="form-control custominput datetimepicker">

                        </div>
                        <span asp-validation-for="TarikhSabtKhodEzhari" style="margin-top:10px;" class="text-danger col-md-offset-3 col-md-9 col-xs-12"></span>
                    </div>

                    <div class="col-xs-12 form-group" style="margin-top:15px;">
                        <input type="submit" style="border:1px solid gray; border-radius:3px;"
                               value="ثبت" class="btn pull-right" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
@section PersonelScripts{
    <script>
        $(document).ready(function () {
            $('.datetimepicker').persianDatepicker({
                "inline": false,
                "format": "L",
                "initialValue": false,
                "minDate": 0,
                "maxDate": 2000000000000,
                "autoClose": true,

                "calendar": {
                    "persian": {
                        "locale": "fa",
                        "showHint": true,
                        "leapYearMode": "algorithmic"
                    },
                    "gregorian": {
                        "locale": "en",
                        "showHint": true
                    }
                },
                "navigator": {
                    "enabled": true,
                    "scroll": {
                        "enabled": true
                    },
                    "text": {
                        "btnNextText": "<",
                        "btnPrevText": ">"
                    }
                },
                "toolbox": {
                    "enabled": true,
                    "calendarSwitch": {
                        "enabled": true,
                        "format": "MMMM"
                    },
                    "todayButton": {
                        "enabled": true,
                        "text": {
                            "fa": "امروز",
                            "en": "Today"
                        }
                    },
                    "submitButton": {
                        "enabled": true,
                        "text": {
                            "fa": "تایید",
                            "en": "Submit"
                        }
                    },
                    "text": {
                        "btnToday": "امروز"
                    }
                },


            });
        });
    </script>
    <script>
        $('#personel-code').change(function () {
            var personelcode = $(this).val();
            console.log(personelcode);
            $.ajax({
                url: "/PersonelArea/Bime/GetName",
                type: 'GET',
                data: {
                    personelcode: personelcode

                },
                success: function (data) {

                    $('#FirstName').val(data.firstname);
                    $('#LastName').val(data.lastname);

                },
                error: function () {
                    console.log('Error retrieving name and family');
                }
            });
        });
    </script>

}




