@model IEnumerable<DPEnergy.DataModelLayer.Entities.Personel.P_DocumentType>
@using DPEnergy.CommonLayer.PublicClass
@{
    ViewData["Title"] = "Index";
}


<div class="content">

    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="index"><i class="icon-home2 position-left"></i> صفحه اصلی</a></li>
        <li><a href="#"><i class="position-left"></i> اطلاعات اولیه</a></li>
        <li class="active">نوع مدرک</li>
    </ul>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            لیست نوع مدرک
        </span>
    </div>
    <div style="margin-bottom:5px;">
        <a class="btn customGreen1" asp-controller="DocumentType" asp-action="AddDocumentType">
            <i class="glyphicon glyphicon-plus"></i>
            افزودن نوع مدرک
        </a>
    </div>

    <div>
        <!--<div class="table-responsive"></div> -->
        <div class="k-rtl">
            <div id="grid"></div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModaldeletor">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="DocumentType" asp-action="DeleteDocumentTypePost" method="post">
                <div class="modal-header" style="background-color:darkred; color:white; border-radius:5px 5px 0 0;" dir="rtl">
                    <h4 class="modal-title">حذف نوع مدرک</h4>
                </div>

                <div class="modal-body" id="DeleteModalBody">

                </div>

                <div dir="rtl" class="modal-footer" style="text-align:left;">
                    <button class="btn btn-default" type="button" style="width:80px;" data-dismiss="modal">بازگشت</button>
                    <button type="submit" class="btn" style="width:80px; color:white; background-color:darkred;">
                        تایید
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Large })
@section PersonelScripts {
    <script src="~/js/modal/modal.js"></script>
    <script>
            $(document).ready(function () {
           var myobj = '@Html.Raw(Json.Serialize(Model))';
           var dpjson = JSON.parse(myobj);

            $("#grid").kendoGrid({
                dataSource: {
                    data: dpjson,
                    pageSize: dpjson.length
                },
                height: 550,
                filterable: true,
                groupable: true,
                sortable: true,
                toolbar: ["pdf", "search"],

                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "id",
                    title: "id"
                }, {
                    field: "documentType",
                    title: "نوع مدرک"
                },


                    {
                        command: [
                            {
                                name: "del",
                                text: "حذف",
                                click: function (e) {
                                    // command button click handler
                                    var item = this.dataItem($(e.currentTarget).closest("tr"));
                                    url = "/PersonelArea/DocumentType/DeleteDocumentType";
                                    $.ajax({
                                        url: url,
                                        data: { id: item.id },
                                        type: 'Get',
                                        success: function (result) {
                                            $('#DeleteModalBody').html(result);
                                            $("#myModaldeletor").modal("show");
                                        },
                                        error: function (xhr, status) {
                                            alert(status);
                                        }
                                    });
                                }
                            },
                            {
                                name: "edit",
                                text: "ویرایش",
                                click: function (e) {
                                    // command button click handler
                                    var item = this.dataItem($(e.currentTarget).closest("tr"));
                                    console.log(item )
                                    window.location.href = '@Url.Action("EditDocumentType", "DocumentType")/' + item.id;
                                }
                            },

                        ]
                    }
                ]

            });
            var grid = $("#grid").data("kendoGrid");
            grid.hideColumn("id");

        });


    </script>


}
