@model DPEnergy.DataModelLayer.ViewModels.DMS.BasicInformation.D_RetReplysheetStageViewModel
@using DPEnergy.CommonLayer.PublicClass
@{
    ViewData["Title"] = "AddRetReplySheetStage";
}
<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Basic Information</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "RetReplySheetStage") ">ReplySheet Stage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add ReplySheet Stage</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            Add Returned ReplySheet Stage
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#dae7f4;">
        <form asp-controller="RetReplySheetStage" asp-action="AddRetReplySheetStage" method="post" enctype="multipart/form-data">

            <div class="col-md-6 col-md-offset-3">

                <!--Project-->
                <div>
                    <label asp-for="ProjectCode" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="ProjectCode" type="text" class="form-control custominput" placeholder="ProjectCode ..." autocomplete="off" />
                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                    </div>

                </div>
                <!--Stage-->
                <div>
                    <label asp-for="Stage" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Stage" type="text" class="form-control custominput" placeholder="Stage ..." autocomplete="off" />
                        <span asp-validation-for="Stage" class="text-danger"></span>
                    </div>

                </div>
                <!--Description-->
                <div>
                    <label asp-for="Description" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Description" type="text" class="form-control custominput" placeholder="Description ..." autocomplete="off" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>

                <!--Order-->
                <div>
                    <label asp-for="Order" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Order" type="text" class="form-control custominput" placeholder="Order ..." autocomplete="off" />
                        <span asp-validation-for="Order" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-xs-12 form-group" style="margin-top:15px;">
                    <input type="submit" style="border:1px solid gray; border-radius:3px;"
                           value="Submit" class="btn pull-right" />
                </div>

            </div>



        </form>
    </div>
</div>





