

@{
    List<D_Project> ListProject = ViewBag.projectlist;
    ViewData["Title"] = "Index";
}

<h1>DMSs</h1>
<div>
   

    <div class="container-fluid">
        <div class="row">
            <select   asp-items="@(new SelectList(from x in ListProject select new { Value = x.Id ,Text = x.ProjectCode + " - " + x.Title}, "Value","Text"))" class="form-control selectpicker custominput " data-live-search="true" style="direction: ltr; text-align:left">
                <option value="" selected disabled hidden style="direction: ltr">Select Project</option>
            </select>
            <div>   </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="chart" style="width: 300px; height: 300px;margin-bottom:20px;"></div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="donutchart" style="width: 300px; height: 300px;margin-bottom:20px;"></div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="areachart" style="width: 300px; height: 300px; margin-bottom: 20px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="piechart" style="width: 300px; height: 300px;"></div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="linechart" style="width: 300px; height: 300px;"></div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="bulletchart" style="width: 300px; height: 300px;"></div>
            </div>
        </div>
    </div>

</div>
@section DMSScripts {
    <script>
      
            //var jsonData = JSON.stringify(dpjson);
            /*
            console.log(dpjson);
            function download(content, fileName, contentType) {
                var a = document.createElement("a");
                var file = new Blob([content], { type: contentType });
                a.href = URL.createObjectURL(file);
                a.download = fileName;
                a.click();
            }
            download(jsonData, 'json.txt', 'text/plain');
        });
        */

    </script>
    <script>
        $(document).ready(function () {
            var myobj = '@Html.Raw(Json.Serialize(Model))';
            var dpjson = JSON.parse(myobj);
            var seriesData = [{
                year: "2023",
                DocumentNumber: 100,
                WF: 200
            }, {
                year: "2022",
                DocumentNumber: 250,
                WF: 280
            }];

            $("#chart").kendoChart({
                dataSource: {
                    data: seriesData
                },
                series: [{
                    name: "DocumentNumber",
                    field: "DocumentNumber"
                }, {
                    name: "WF",
                    field: "WF"
                }],
                categoryAxis: {
                    field: "year"
                }
            });
        });
          


        $("#donutchart").kendoChart({
            title: {
                position: "bottom",
                text: "Progress of Documents"
            },
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "donut",
                startAngle: 150
            },
            series: [{
                name: "2023",
                data: [{
                    category: "Mechanical",
                    value: 30.8,
                    color: "#9de219"
                }, {
                    category: "Project Control",
                    value: 21.1,
                    color: "#90cc38"
                }, {
                    category: "Electrical",
                    value: 16.3,
                    color: "#068c35"
                }, {
                    category: "Instrument",
                    value: 17.6,
                    color: "#006634"
                }, {
                    category: "Piping",
                    value: 9.2,
                    color: "#004d38"
                }, {
                    category: "Civil Engineering",
                    value: 4.6,
                    color: "#033939"
                }]
            }, {
                name: "2022",
                data: [{
                    category: "Mechanical",
                    value: 53.8,
                    color: "#9de219"
                }, {
                    category: "Project Control",
                    value: 16.1,
                    color: "#90cc38"
                }, {
                    category: "Electrical",
                    value: 11.3,
                    color: "#068c35"
                }, {
                    category: "Instrument",
                    value: 9.6,
                    color: "#006634"
                }, {
                    category: "Piping",
                    value: 5.2,
                    color: "#004d38"
                }, {
                    category: "Civil Engineering",
                    value: 3.6,
                    color: "#033939"
                }],
                labels: {
                    visible: true,
                    background: "transparent",
                    position: "outsideEnd",
                    template: "#= category #: \n #= value#%"
                }
            }],
            tooltip: {
                visible: true,
                template: "#= category # (#= series.name #): #= value #%"
            }
        });


        $("#scatterchart").kendoChart({
            title: {
                text: "Charge current vs. charge time"
            },
            legend: {
                visible: true
            },
            seriesDefaults: {
                type: "scatterLine"
            },
            series: [{
                name: "0.8C",
                data: [[10, 10], [15, 20], [20, 25], [32, 40],]
            }, {
                name: "1.6C",
                data: [[10, 40], [17, 50], [18, 70], [35, 90],]
            }, {
                name: "3.1C",
                data: [[10, 70], [13, 90],]
            }],
            xAxis: {
                max: 50,
                labels: {
                    format: "{0}m"
                },
                title: {
                    text: "Time"
                }
            },
            yAxis: {
                max: 100,
                labels: {
                    format: "{0}%"
                },
                title: {
                    text: "Charge"
                }
            }
        });


        $("#piechart").kendoChart({
            title: {
                text: "Type of Documents in Approval"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                labels: {
                    visible: true,
                    format: "{0}%"
                }
            },
            series: [{
                type: "pie",
                data: [{
                    category: "NotRevised",
                    value: 22,
                    color: "#5673F5"
                }, {
                    category: "Aprroved",
                    color: "#a0b0c0",
                    value: 2
                }, {
                    category: "Commented",
                    color: "#9920A3",
                    value: 49
                }, {
                    category: "Issued",
                    color: "#F445B4",
                    value: 27
                }]
            }]
        });


        $("#linechart").kendoChart({
            title: {
                text: "Document Progress"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "line"
            },
            series: [{
                name: "WF",
                data: [15.7, 16.7, 20, 23.5, 26.6],
                color: "#652E2E"
            }, {
                name: "Progress",
                data: [67.96, 68.93, 75, 74, 78],
                color: "#F60909"
                    
            }],
            valueAxis: {
                labels: {
                    format: "{0}%"
                }
            },
            categoryAxis: {
                categories: [ 2018,2019, 2021, 2022, 2023]
            }
        });

        $("#areachart").kendoChart({
            title: {
                text: "Document Progress"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "area"
            },
            series: [{
                name: "WF",
                data: [15.7, 16.7, 20, 23.5, 26.6],
                color: "#EEF556"
            }, {
                name: "progeress",
                data: [67.96, 68.93, 75, 74, 78],
                color: "#D39B05"
            }],
            valueAxis: {
                labels: {
                    format: "{0}%"
                }
            },
            categoryAxis: {
                categories: [2005, 2006, 2007, 2008, 2009]
            }
        });

        var salesData = [
            { current: 750, target: 762.5, category: 1 }, { current: 764, target: 768.5, category: 2 },
            { current: 772, target: 770, category: 3 }, { current: 764, target: 773, category: 4 },
            { current: 763, target: 760, category: 5 }, { current: 758, target: 765, category: 6 }];
        $("#bulletchart").kendoChart({
           
            dataSource: {
                data: salesData
            },
            series: [{
                type: "bullet",
                color: "darkblue",
                currentField: "current",
                targetField: "target",
                target: {
                    color: 'green',
                    line: {
                        width: 4
                    },
                    border: {
                        width: 2,
                        color: 'turquoise'
                    }
                }
            }],
            categoryAxis: {
                field: "category"
            }
        });
        
    </script>
   
}
