@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_ClientDicipline
@{
    Layout = null;
}

<div class="modal-body form-horizontal">
    Are you sure you want to delete Client Dicipline
    <span style="font-weight:bold;">@Model.Dicipline<span>
    ?
</div>
<input type="hidden" asp-for="Id" />