@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_ProjectParties
@{
    Layout = null;
}

<div class="modal-body form-horizontal">
    Are you sure you want to delete
    <span style="font-weight:bold;">@Model.ProjectCode</span>
    with company name 
    <span style="font-weight:bold;">@Model.CompanyName </span>
    ?
</div>
<input type="hidden" asp-for="Id" />