@model DPEnergy.DataModelLayer.Entities.Personel.P_VaziatKhedmat
@{
    Layout = null;
}

    <div class="modal-body form-horizontal" dir="rtl">
        حذف اطلاعات نظام وظیفه
        <span style="font-weight:bold;">@Model.FirstName @Model.LastName</span>
        با شماره پرسنلی
        <span style="font-weight:bold;">@Model.PersonelCode</span>
        مطمئن هستید؟
    </div>
<input type="hidden" asp-for="Id" />