@model string
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="error-message">
        <p>@Model</p>
    </div>
</body>
</html>
