@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_UserProject
@{
    List<D_UserProject> ListProject = ViewBag.projectlist;
    Layout = null;
}

<div class="modal-body form-horizontal">
    please choose a project
    <select name="ProjectID" asp-items="@(new SelectList(from x in ListProject select new { Value = x.ProjectId ,Text = x.ProjectCode + "-" + x.ProjectTitle}, "Value","Text"))" class="form-control  custominput" data-live-search="true">
        <option value="hi" selected disabled hidden style="direction: ltr">Select project</option>
    </select>
   

</div>