@model IEnumerable<DPEnergy.DataModelLayer.Entities.DMS.D_MDR>
@using DPEnergy.CommonLayer.PublicClass
@{
    ViewData["Title"] = "Index";
}
<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Basic Information</a></li>
            <li class="breadcrumb-item active" aria-current="page">MDR</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            MDR List
        </span>
    </div>
    <div style="margin-bottom:5px;">
        <a class="btn customGreen1" id="BtnSetProject">
            <i class="glyphicon glyphicon-plus"></i>
            Add New Item
        </a>
    </div>


    <div id="dummyScrollWrapper" style="overflow-x: scroll; margin-right:17px; margin-left:2px;">
        <div id="dummyScroll" style="height: 20px;">
        </div>
    </div>

    <div id="grid"></div>
    <ul id="context-menu">
        <li id="DeleteContext">Delete</li>
        <li id="EditContext"> Edit</li>
    </ul>
    <div class="modal fade" id="myModalSetter">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-controller="MDR" asp-action="AddMDR" method="Get">
                    <div class="modal-header" style="background-color:darkblue; color:white;">
                        <h4 class="modal-title">Choose project</h4>
                    </div>

                    <div class="modal-body" id="SetModalBody"> </div>
                    <div class="modal-footer" style="text-align:right;">
                        <button class="btn btn-default" type="button" style="width:80px;" data-dismiss="modal">cancle</button>
                        <button type="submit" class="btn" style="width:80px; color:white; background-color:darkblue;">
                            continue
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModaldeletor">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-controller="MDR" asp-action="DeleteMDRPost" method="post">
                    <div class="modal-header" style="background-color:darkred; color:white; border-radius:5px 5px 0 0;">
                        <h4 class="modal-title">Delete MDR</h4>
                    </div>

                    <div class="modal-body" id="DeleteModalBody">

                    </div>

                    <div dir="rtl" class="modal-footer" style="text-align:left;">
                        <button class="btn btn-default" type="button" style="width:80px;" data-dismiss="modal">Reject</button>
                        <button type="submit" class="btn" style="width:80px; color:white; background-color:darkred;">
                            Accept
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section DMSScripts{

    <script>
        $("#BtnSetProject").click(function (e) {
            url = "/DMSArea/MDR/SetProject";
            $.ajax({
                url: url,
                type: 'Get',
                success: function (result) {
                    $('#SetModalBody').html(result);

                    $("#myModalSetter").modal("show");

                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            var myobj = '@Html.Raw(Json.Serialize(Model))';
            console.log(myobj);
            var dpjson = JSON.parse(myobj);
            console.log(dpjson);

            $("#grid").kendoGrid({
                dataSource: {
                    data: dpjson,
                    pageSize:100
                },
                height: 550,
                filterable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                sortable: true,
                resizable: true,
                filterable: true,
                toolbar: ["pdf", "search", "excel"],
                excel: {
                    allPages: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                dataBound: function (e) {
                    var dataElement = $(e.sender.element).find(".k-grid-content");
                    var fakeScroll = document.getElementById("dummyScroll");
                    fakeScroll.style.width = dataElement.children(0).width() + "px";

                    dataElement.scroll(function () {
                        $("#dummyScrollWrapper").scrollLeft(dataElement.scrollLeft());
                    });
                    $("#dummyScrollWrapper").scroll(function () {
                        dataElement.scrollLeft($("#dummyScrollWrapper").scrollLeft());
                    });
                },
                columns: [{
                    field: "id",
                    title: "id"
                }, {
                   field: "projectCode",
                   filterable: {
                       multi: true
                    },
                    width: 150,
                    title: "ProjectCode"
                }, {
                     field: "clientNumber",
                     width: 200,
                     title: "Client Number"
                }, {
                    field: "documentTitle",
                    width: 150,
                    title: "Document Title"
                }, {
                    field: "daryapalaNumber",
                    width: 200,
                    title: "Daryapala Number"
                }, {
                    field: "wf",
                    width: 150,
                    title: "Wf"
                }, {
                    field: "dpDicipline",
                        width: 150,
                    title: "DpDicipline"
                }, {
                    field: "unit",
                        width: 150,
                    title: "Unit"
                }, {
                    field: "phase",
                        width: 150,
                    title: "Phase"
                }, {
                    field: "documentType",
                        width: 150,
                    title: "DocumentType"
                }, {
                    field: "clientDicipline",
                        width: 150,
                    title: "Client Dicipline"
                }, {
                    field: "classification",
                        width: 150,
                    title: "Classification"

                }, {
                    field: "additionalWork",
                        width: 200,
                    title: "Additional Work"

                }, {
                    field: "firstIssueDate",
                        width: 150,
                    title: "First Issue Date"

                }, {
                     field: "secondIssueDate",
                        width:200,
                     title: "Second Issue Date"

                }, {
                    field: "finalIssueDate",
                        width: 200,
                    title: "Final Issue Date"

                }, {
                    field: "customField1",
                    width: 200,
                    title: "CustomField1"

                }, {
                    field: "customField2",
                    width: 200,
                    title: "CustomField2"

                }, {
                    field: "customField3",
                    width:200,
                    title: "CustomField3"

                }, {
                    field: "customField4",
                    width: 200,
                     title: "CustomField4"

                }, {
                    field: "customField5",
                    width: 200,
                    title: "CustomField5"

                }, {
                     field: "active",
                     width: 100,
                     title: "Active"

                }, {
                     field: "remarks",
                     width: 100,
                     title: "Remarks"
                }, {
                     field: "user",
                     width: 100,
                     title: "User"
                }, {
                     field: "area",
                     width: 100,
                     title: "Area"
                }, {
                     field: "section",
                     width: 100,
                     title: "Section"
                }, {
                     field: "mhr",
                     width: 100,
                     title: "MHR"
                }, {
                     field: "creator",
                     width: 100,
                     title: "Creator"
                }, {
                     field: "creationDate",
                        width: 150,
                     title: "Creation Date"
                }, {
                     field: "modifier",
                     width: 150,
                     title: "Modifier"
                }, {
                     field: "modificationDate",
                     width: 200,
                     title: "Modification Date"
                }, {
                     field: "order",
                     title: "Order"
                  },




                    {
                        width:150,
                        command: [
                            {
                                name: "del",
                                text: "Delete",
                                click: function (e) {
                                    // command button click handler
                                    var item = this.dataItem($(e.currentTarget).closest("tr"));
                                    url = "/DMSArea/MDR/DeleteMDR";
                                    $.ajax({
                                        url: url,
                                        data: { id: item.id },
                                        type: 'Get',
                                        success: function (result) {
                                            if (result === "bad") {
                                                alert("MDR with existed revision cannot be deleted");
                                            } else {
                                                $('#DeleteModalBody').html(result);
                                                $("#myModaldeletor").modal("show");
                                            }

                                        },
                                        error: function (xhr, status) {
                                            alert(status);
                                        }
                                    });
                                }
                            },
                            {
                                name: "edit",
                                text: "Edit",
                                click: function (e) {
                                    // command button click handler
                                    var item = this.dataItem($(e.currentTarget).closest("tr"));
                                    console.log(item )
                                    window.location.href = '@Url.Action("EditMDR", "MDR")/' + item.id;
                                }
                            },


                        ]
                    }
                ]

            });
            var grid = $("#grid").data("kendoGrid");
            grid.hideColumn("id");
            grid.hideColumn("order");

            //$("#grid").data("kendoGrid").wrapper.find(".k-grid-header-wrap").off("scroll.kendoGrid");
            $("#context-menu").kendoContextMenu({
            target: "#grid",
            filter: "tr[role='row']",
            select: function (e) {
                var grid = $("#grid").data("kendoGrid");
                var model = grid.dataItem(e.target);
                var item = e.item.id;
                console.log(item);
               // console.log(e.target);
                switch (item) {
                    case "EditContext":
                        window.location.href = '@Url.Action("EditMDR", "MDR")/' + model.id;
                        break;
                    case "DeleteContext":
                        url = "/DMSArea/MDR/DeleteMDR";
                        console.log("here");
                        $.ajax({
                            url: url,
                            data: { id: model.id },
                            type: 'Get',
                            success: function (result) {
                                if (result === "bad") {
                                    alert("Revision with existed Transmittal Number cannot be deleted");
                                } else {
                                    $('#DeleteModalBody').html(result);
                                    $("#myModaldeletor").modal("show");
                                }
                            },
                            error: function (xhr, status) {
                                alert(status);
                            }
                        });
                        break;

                };
            }
        });
        });


    </script>
}
