@model DPEnergy.DataModelLayer.ViewModels.DMS.BasicInformation.D_PaperSizeViewModel
@using DPEnergy.CommonLayer.PublicClass
@{
    ViewData["Title"] = "AddPaperSize";
}
<div class="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Basic Information</a></li>
            <li class="breadcrumb-item"><a href=" @Url.Action("Index", "PaperSize") ">PaperSize</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add PaperSize</li>
        </ol>
    </nav>
    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-list"></i>
            Add  PaperSize
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#dae7f4;">
        <form asp-controller="PaperSize" asp-action="AddPaperSize" method="post" enctype="multipart/form-data">

            <div class="col-md-6 col-md-offset-3">

                <!--TypeOfPaper-->
                <div>
                    <label asp-for="TypeOfPaper" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="TypeOfPaper" type="text" class="form-control custominput" placeholder="PaperSize ..." autocomplete="off" />
                        <span asp-validation-for="TypeOfPaper" class="text-danger"></span>
                    </div>

                </div>

                <!--Measurment-->
                <div>
                    <label asp-for="Measurment" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Measurment" type="text" class="form-control custominput" placeholder="Measurment ..." autocomplete="off" />
                        <span asp-validation-for="Measurment" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-xs-12 form-group" style="margin-top:15px;">
                    <input type="submit" style="border:1px solid gray; border-radius:3px;"
                           value="Submit" class="btn pull-right" />
                </div>

            </div>



        </form>
    </div>
</div>



