@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_ProjectType
@{
    Layout = null;
}

<div class="modal-body form-horizontal">
    Are you sure you want to delete
    <span style="font-weight:bold;">@Model.ProjectType</span>
    ?
</div>
<input type="hidden" asp-for="Id" />