@model DPEnergy.DataModelLayer.Entities.DMS.BasicInformation.D_Stage
@{
    Layout = null;
}

<div class="modal-body form-horizontal">
    Are you sure you want to delete Stage
    <span style="font-weight:bold;">
        @Model.Stage
    </span>
    ?
</div>
<input type="hidden" asp-for="Id" />